# This is an example server configuration
# .
# To use this run:
# .
# > ./docker-compose-use example_server.env
# .
# Which will turn this file into a .env file ready for
# docker-compose to use as the default set of containers
# .
# ( Lines starting with a single '#' are removed completely. )
# ( Blanklines are removed completely. )
# ( Whitespace is trimmed. )
# ( \ continuation lines are joined. )

COMPOSE_FILE=\
    offical/common.yml:\

    official/mariaDB.yml:\
    official/mariaDB.socket-client.yml:\

#   base/postgres.yml:\
    phpfpm/phpfpm.yml:\
#   nginx.yml:\
    openresty.yml


