# this configuration will be used for each server
# specified using $SITES variable
# more in README

server {
    # this is the internal Docker DNS, cache only for 30s
    resolver 127.0.0.11 valid=30s;
    
   listen 443 ssl http2;
   server_name $SERVER_NAME;

   index index.php;
   root /srv/vhosts/$SERVER_NAME/public;
 
   include /etc/nginx/*.https.conf;

   location / {
     try_files $uri /index.php$is_args$args;
   }

	location ~ [^/]\.php(/|$) {
	    set $upstream $SERVER_ENDPOINT;
		
		try_files $uri =404;

		fastcgi_split_path_info ^(.+?\.php)(/.*)$;
	 
		# Mitigate https://httpoxy.org/ vulnerabilities
		fastcgi_param HTTP_PROXY "";

		fastcgi_index index.php;

		# include the fastcgi_param setting
		include fastcgi_params;

		# SCRIPT_FILENAME parameter is used for PHP FPM determining
		#  the script name. If it is not set in fastcgi_params file,
		# i.e. /etc/nginx/fastcgi_params or in the parent contexts,
		# please comment off following line:

		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_pass $upstream;
	}	
}

server {
    listen 80;
    server_name $SERVER_NAME;

    index index.php;
    root /var/www/html;
   
    include /etc/nginx/*.http.conf;
}


# References
# https://sandro-keil.de/blog/let-nginx-start-if-upstream-host-is-unavailable-or-down/